body, h1, h2, table, th, td, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}


.headers {
    color: #ffffff; 
    font-weight: bold;
    font-size: 45px; 
    text-align: center; 
    margin-top: 20px; 
}

.subheaders {
    color: #ffffff;
    font-weight: bold; 
    font-size: 20px; 
    text-align: center;
    margin-top: 15px; 
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ddd;
}

th {
    background-color: #007bff7c;
    color: white; 
    padding: 10px; 
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f21a;
}

h2 {
    text-align: center;
    color: #007bff; 
    margin-top: 20px;
}

button {
    display: block;
    margin: 0 auto;
    background-color: #007bff79;
    color: white; 
    padding: 10px 20px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.form-container {
    text-align: center;
    margin-top: 20px; 
}

.form-container label, .form-container input {
    display: block;
    margin: 0 auto;
    width: 50%; 
    margin-bottom: 10px;
}

.button:hover {
    background-color: #0056b3; 
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('SPACE2.jpg');
    background-size: cover; 
    background-position: center bottom;
    background-repeat: no-repeat; 
    opacity: 0.9;
    z-index: -1;
}

.background-imageV2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('SPACE3.jpg');
    background-size: cover; 
    background-position: center bottom;
    background-repeat: no-repeat; 
    opacity: 0.9; 
    z-index: -1; 
}


.label {
    color:#ffffff;
}

.textbox {
    background-color: transparent;
    border: 2px solid white;
    padding: 10px; 
    border-radius: 5px; 
    color: rgb(255, 255, 255); 
    font-size: 16px; 
    width: 300px;
    box-sizing: border-box; 
}

.messages {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

button:disabled {
    cursor: not-allowed; 
    opacity: 0.7; 
}